@import url(http://fonts.googleapis.com/css?family=Special+Elite);
html {font-size:100%}
a {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus {
  text-decoration: none;
}
a:hover,
a:active {
  text-decoration: none;
}
body {
  background-color: black;
}
body a {
  color: white;
}
body .picture-holder {
  font-family: 'Special Elite', cursive;
  position: relative;
  text-align: center;
  color: white;
}
body .picture-holder img {
  max-width: 100%;
  width : 60rem;
}
body .picture-holder .subtitle {
  position: absolute;
  display: block;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
body .social-links-holder {
  text-align: center;
  margin-top: 2rem;
}
body .social-links-holder .social-link .social-icon {
  font-size: 4em;
}

.social-link {
  margin-right : 2em;
}
